# Bussines Problem
<b> The Financial Technology company (Fin-Tech Company)</b> launch there a mobile app. This app used for financial purposes like bank loans, savings, etc. in one place. It has two versions free and premium. The free version app contains basic features and customer wants to use the premium feature then they have to pay some amount to unlock it.
   <br> 
    The main goal of the company is to sell the premium version app with low advertisement cost but they don’t know how to do it. That’s a reason they are provided the premium feature in the free version app for 24 hours to collect the customer’s behavior. After that, the company hired the Machine Learning Engineer to find insight from the collected data (customer’s behavior).
 <br> 
The job of the ML engineer is to find or predict new customer who is interested to buy the product or not. If the customers will buy a product anyway so no need to give an offer to that customer and loss the business. Only give offers to those customers who are interested to use premium version app but they can’t afford its cost. So the company will give offers to those customers and earn more money.

# Importing the libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
from dateutil import parser # for columns like 'first_open' & 'enrolled_date'

# Importing the dataset that was created while Feature Engineering

In [2]:
df= pd.read_csv('new_appdata10.csv')

In [3]:
df.head(10)

,user,dayofweek,hour,age,numscreens,minigame,used_premium_feature,enrolled,liked,location,...,SecurityModal,ResendToken,TransactionList,NetworkFailure,ListPicker,other,SavingsCount,CMCount,CCCount,LoansCount
0,235136,3,02:00:00,23,15,0,0,0,0,0,...,0,0,0,0,0,7,0,0,0,1
1,333588,6,01:00:00,24,13,0,0,0,0,1,...,0,0,0,0,0,5,0,0,0,1
2,254414,1,19:00:00,23,3,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,234192,4,16:00:00,28,40,0,0,1,0,1,...,0,0,0,0,0,6,0,3,0,1
4,51549,1,18:00:00,31,32,0,0,1,1,0,...,0,0,0,0,0,10,0,2,0,1
5,56480,2,09:00:00,20,14,0,0,1,0,0,...,0,0,0,0,0,6,0,2,0,1
6,144649,1,02:00:00,35,3,0,0,0,0,0,...,0,0,0,0,0,3,0,0,0,0
7,249366,1,03:00:00,26,41,0,1,0,0,0,...,0,0,1,0,0,8,0,2,0,1
8,372004,2,14:00:00,29,33,1,1,0,0,1,...,0,0,0,0,0,19,0,0,0,3
9,338013,4,18:00:00,26,19,0,0,1,0,1,...,0,0,0,0,0,11,0,0,0,1

### Converting the hour column from float if not scaling will not be done

In [4]:
# First set of Feature cleaning
df["hour"] = df.hour.str.slice(1, 3).astype('int64')

In [5]:
df["hour"].dtypes

dtype('int64')

# Data Pre-Processing

In [6]:
x = df.loc[:, df.columns != "enrolled"]

In [7]:
y = df['enrolled']

In [8]:
x.head()

,user,dayofweek,hour,age,numscreens,minigame,used_premium_feature,liked,location,Institutions,...,SecurityModal,ResendToken,TransactionList,NetworkFailure,ListPicker,other,SavingsCount,CMCount,CCCount,LoansCount
0,235136,3,2,23,15,0,0,0,0,0,...,0,0,0,0,0,7,0,0,0,1
1,333588,6,1,24,13,0,0,0,1,1,...,0,0,0,0,0,5,0,0,0,1
2,254414,1,19,23,3,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,234192,4,16,28,40,0,0,0,1,0,...,0,0,0,0,0,6,0,3,0,1
4,51549,1,18,31,32,0,0,1,0,1,...,0,0,0,0,0,10,0,2,0,1

In [9]:
y.head()

0    0
1    0
2    0
3    1
4    1
Name: enrolled, dtype: int64

# Split the Dataset

In [10]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [11]:
# Removing the User Id column as it is not a real feature.
# but at the end we will use this data associating the prediction from user it came from

train_identifier = x_train['user']
x_train = x_train.drop(columns=['user'])

test_identifier = x_test['user']
x_test = x_test.drop(columns=['user'])

In [12]:
# the user column is removed from x_train and x_test
x_train.head()

,dayofweek,hour,age,numscreens,minigame,used_premium_feature,liked,location,Institutions,VerifyPhone,...,SecurityModal,ResendToken,TransactionList,NetworkFailure,ListPicker,other,SavingsCount,CMCount,CCCount,LoansCount
20330,2,20,32,5,0,1,1,0,0,0,...,0,0,0,0,0,2,0,0,0,2
17532,1,21,22,42,1,0,0,1,1,1,...,0,0,0,0,0,13,0,1,0,1
45819,0,4,26,85,1,0,0,0,1,0,...,0,0,0,0,0,10,0,2,1,2
34807,4,13,25,24,1,0,0,1,0,0,...,0,0,0,0,0,10,0,0,0,1
31888,3,16,50,11,0,0,0,1,0,1,...,0,0,0,0,0,3,0,2,0,0

# Feature Scaling

In [28]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [29]:
# train the x_train and create a new variable for scaled x_train
#Standard scaler returns a numpy array so we need to convert to DataFrame
#In array form 'index' and 'column names' are lost we need it so convert to Df

x_train_scaled= pd.DataFrame(sc.fit_transform(x_train))
x_test_scaled = pd.DataFrame(sc.transform(x_test))

In [30]:
# put x_train_scaled have the columns of original x_train set
x_train_scaled.columns = x_train.columns.values

# put x_test_scaled have the columns of original x_test set
x_test_scaled.columns = x_test.columns.values

# take the indexes also
x_train_scaled.index = x_train.index.values
x_test_scaled.index = x_test.index.values

In [31]:
# Compare the original training set with new scaled training set
x_train= x_train_scaled
x_test= x_test_scaled

# Model Building

<b> Note:If working for a mobile app model always take into consideration that the screens can be correlated.
    We have tried to avoid the correlation by creating funnels but tehre may be some screens that do not belong to the same set but still be correlated.
    So add a penalty of 'L1'

In [34]:
# Fitting Model to the Training Set
# Importing the Classifier
# Penalty to avoid correlations if some screens belong to same set.

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(penalty='l2', random_state=0)
classifier.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [35]:
# Predicting Test Set
y_pred = classifier.predict(x_test)

# Evaluating Results

In [39]:
# Evaluating Results
from sklearn.metrics import confusion_matrix, accuracy_score 
f1_score, precision_score, recall_score
cm = confusion_matrix(y_test, y_pred)
cm

array([[3885, 1187],
       [1133, 3795]], dtype=int64)

In [40]:
accuracy_score(y_test, y_pred)

0.768

In [41]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.77      0.77      0.77      5072
           1       0.76      0.77      0.77      4928

    accuracy                           0.77     10000
   macro avg       0.77      0.77      0.77     10000
weighted avg       0.77      0.77      0.77     10000

# K-Fold Cross Validation 

<b>
Doing this to check if there is no Overfitting.
This is an extra step to validate the result

In [44]:
from sklearn.model_selection import cross_val_score
accuracies= cross_val_score(estimator=classifier,X=x_train,y=y_train,cv=10)

In [47]:
print('Logistic Accuracy: %0.3f (+/-%0.3f)' % (accuracies.mean(),accuracies.std()*2 ))

Logistic Accuracy: 0.767 (+/-0.009)

<b>
    this indicates accuracy of 76% and std devialtion of 0.009 which is very small.
    
    thus model is Accurate

# Formatting the Final Results.

<strong>
Checking the Prediction of a user information with the actual information of the users.
    
    Using the userid column that was dropped before.
    x_identifier

In [50]:
final_results = pd.concat([y_test, test_identifier], axis = 1).dropna()
final_results['predicted_results'] = y_pred
final_results = final_results[['user', 'enrolled', 'predicted_results']].reset_index(drop=True)

In [51]:
final_results

        user  enrolled  predicted_results
0     239786         1                  1
1     279644         1                  1
2      98290         0                  0
3     170150         1                  1
4     237568         1                  1
...      ...       ...                ...
9995  143036         1                  0
9996   91158         1                  1
9997  248318         0                  0
9998  142418         1                  1
9999  279355         1                  1

[10000 rows x 3 columns]